@use 'variables.scss' as var;

#devices-section .cell {
	height: 500px;
	//border: 1px red solid;
}

.device {
	position: absolute;
	overflow: hidden;
	height: 100%;
}

.device.laptop {
	max-width: 800px;
	aspect-ratio: 20 / 10;
	top: 5%;
	right: 5%;
	left: auto;
	width: 800px;
	height: 450px;
}

.device.mobile {
	max-width: 300px;
	aspect-ratio: 7 / 19;
	top: 10%;
	left: 10%;
	right: auto;
	overflow: hidden;
	width: 220px;
	height: 370px;
}
.device.mobile .image {
	width: 70%;
	margin-left: 14.5%;
}

.device .image {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: auto;
	object-fit: contain;
	overflow: auto;
	-webkit-overflow-scrolling: touch;

	z-index: 1;
}

.device .mask {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: auto;
	//object-fit: cover;
	overflow: hidden;
	z-index: 2;
	pointer-events: none;
}
