@use 'variables.scss' as var;

#devices {
	position: relative;
	border: 1px blue solid;
	display: grid;
	//overflow: hidden;
	// display: flex;
	// align-items: flex-end;
	// justify-content: center;
}

.device {
	position: relative;
	width: 100%;
	overflow: hidden;
	display: flex;
	border: 1px red solid;
}

// MOBILE
.device.mobile {
	max-width: 200px;
	aspect-ratio: 10 / 19;
}

.device.mobile .mask {
	width: 100%;
	z-index: 2;
}

.device.mobile .image {
	position: absolute;
	max-width: 100%;
	top: 1%;
	left: -34%;
	right: auto;
	transform: rotate(5.5deg) skewY(-13.5deg) scaleX(1.08);
	opacity: 1;
	z-index: 1;
}

// TABLET
.device.tablet {
	max-width: 400px;
}

.device.tablet .mask {
	width: 100%;
	z-index: 2;
}

.device.tablet .image {
	position: absolute;
	max-width: 100%;
	top: 1%;
	left: -34%;
	right: auto;
	transform: rotate(5.5deg) skewY(-13.5deg) scaleX(1.08);
	opacity: 1;
	z-index: 1;
}

// LAPTOP
.device.laptop {
	max-width: 800px;
}

.device.laptop .mask {
	width: 100%;
	z-index: 2;
}

.device.laptop .image {
	position: absolute;
	max-width: 100%;
	top: 1%;
	left: -34%;
	right: auto;
	transform: rotate(5.5deg) skewY(-13.5deg) scaleX(1.08);
	opacity: 1;
	z-index: 1;
}

/* Animation states for trig.js */
.device-hidden {
	opacity: 0;
	transform: translateY(60px) scale(0.95);
}

.device-animate {
	opacity: 1;
	transform: translateY(0) scale(1);
}

// #devices > div {
// 	position: relative;
// 	border: 1px red solid;
// }

// #devices > div img.mask {
// 	overflow: hidden;
// 	z-index: 99;
// }

// .mobile img.scroll {
// 	max-width: clamp(150px, 25vw, 250px);
// 	transform: rotate(7.5deg);
// 	position: relative;
// 	margin-left: -20%;
// 	z-index: 1;
// }

// .tablet img {
// 	max-width: clamp(250px, 35vw, 350px);
// 	z-index: 2;
// }

// #laptop img {
// 	max-width: clamp(350px, 45vw, 650px);
// 	z-index: 1;
// }

// .mask {
// 	z-index: 4;
// 	position: absolute;
// }

// /* Animation classes for trig.js */
// .device-animate {
// 	opacity: 1;
// 	transform: translateY(0) scale(1);
// }

// .device-hidden {
// 	opacity: 0;
// 	transform: translateY(80px) scale(0.9);
// }
