---
import Layout from '../layouts/Layout.astro';
import Form from '../components/Form';
import '../styles/form.scss';
---

<Layout pageTitle="Contact" pageSiteTitles="">
	<section>
		<div class="container top-of-page">
			<div class="flex" id="form-container">
				<div class="cell small-18">
					<div id="intro">
						<p class="justify width">To send a message, please fill out and submit the form below.</p>

						<br />
						<Form />
					</div>
				</div>
			</div>
		</div>
	</section>

	<style>
		.invalid-feedback,
		.empty-feedback {
			display: none;
		}

		.was-validated :placeholder-shown:invalid ~ .empty-feedback {
			display: block;
			font-size: 0.8rem;
			margin-bottom: 1rem;
			margin-top: -10px;
			text-transform: none;
			font-weight: 600;
		}

		.was-validated :not(:placeholder-shown):invalid ~ .invalid-feedback {
			display: block;
		}

		.is-invalid,
		.was-validated :invalid {
			border-color: #dc3545;
		}
		.h-captcha iframe {
			width: 100%;
			max-width: 250px;
		}
	</style>

	<script is:inline>
		// use astro:page-load event if you are using View Transitions

		document.addEventListener(
			'DOMContentLoaded',
			() => {
				const form = document.getElementById('form');
				const result = document.getElementById('result');

				form.addEventListener('submit', function (e) {
					e.preventDefault();
					form.classList.add('was-validated');
					if (!form.checkValidity()) {
						form.querySelectorAll(':invalid')[0].focus();
						return;
					}
					const formData = new FormData(form);
					const object = Object.fromEntries(formData);
					const json = JSON.stringify(object);

					result.innerHTML = 'Sending...';

					fetch('https://api.web3forms.com/submit', {
						method: 'POST',
						headers: {
							'Content-Type': 'application/json',
							Accept: 'application/json',
						},
						body: json,
					})
						.then(async (response) => {
							let json = await response.json();
							if (response.status == 200) {
								result.innerHTML = json.message;
							} else {
								console.log(response);
								result.innerHTML = json.message;
							}
						})
						.catch((error) => {
							console.log(error);
							result.innerHTML = 'Something went wrong!';
						})
						.then(function () {
							form.reset();
							form.classList.remove('was-validated');
							setTimeout(() => {
								result.style.display = 'none';
							}, 5000);
						});
				});
			},
			{ once: true }
		);
	</script>
	<script is:inline>
		const formCaptcha = document.getElementById('form');

		formCaptcha.addEventListener('submit', function (e) {
			const hCaptcha = formCaptcha.querySelector('textarea[name=h-captcha-response]').value;

			if (!hCaptcha) {
				e.preventDefault();
				result.innerHTML = 'Please complete the captcha.';
				return;
			}
		});
	</script>
	<script is:inline src="https://web3forms.com/client/script.js" async defer></script>
</Layout>
